body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #420606;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 35px 20px;
    text-align: center;
}

nav ul {
    background-color: rosybrown;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.personagens {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

aside {
    flex: 1;
    background-color: #d1a1a1;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    padding: 5px 0;
    border-bottom: 1px solid #bc8b8b;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}